<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iplayer.main">

    <application
        android:name="com.iplayer.main.MainApplication"
        android:allowBackup="true"
        android:label="@string/app_main_name"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme"
        tools:replace="android:label">
        <activity android:name=".ui.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>